[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.display-none {display:none}
.display-block {display:block;}
.display-inline-block {display:inline-block}

.bg-primary {
    background-color:$primary-color;
}
.bg-secondary {
    background-color:$secondary-color;
}
.bg-third {
    background-color:$third-color;
}
.bg-fourth {
    background-color:$fourth-color;

    p,
    h2,h4,
    ul li,
    ul li {
        color:white;
    }

    a {
        color:white;
    }
}
.bg-white {
    background-color:white;
}

.bg-secondary,
.bg-third {
    p,
    ul li,
    ul li {
        color:black;
    }

    a {
        color:white;
    }
}
.bg-third {
    background-color:$third-color;
}

.text-primary {
    color:$primary-color;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: $base-font-family;
}

/* Custom Horizontal Rule */
hr.small {
    max-width: 100px;
}

/* clients logo grid */
.grid-logo {
    margin:-1px 0 0 -1px !important;
    padding:0 !important;
    border:1px solid #eee;
}

/* Callout */
.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/pininfarina.jpg) no-repeat left top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}