
/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background:white;
    /*background: url(../img/bg/napoli-dome-roof.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

.white-box {
    background:white;
    max-width:400px;
    margin:50px 0 0 50px;
    padding:30px;
    min-height:70%;

    h1 {color:black;margin-bottom:20px;}
    p {color:black;}
}



div.main-img {
    display:inline-block;
    background:white;
    width:90%;
    max-width:600px;
    height:auto;

    img {
        width:100%;
        height:auto;
    }
}



@media(max-width:600px) {
    .text-vertical-center {
        h1 {font-size:2.5em;}
        h2 {font-size:20px;}
    }
    
    .header {
        .white-box {
            background:white;
            max-width:90%;
            margin:5% 0 0 5%;
            padding:30px;
            min-height:70%;
        }
    }
}