/* sections */

.section-wrap {
    padding: 50px 0;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
    h1 {
        margin: 0;
        padding: 0;
        font-size: 4.5em;
        font-weight: 700;
    }
}

/* Skills / Services */
.service-item {
    margin-bottom: 30px;
}

@media(max-width:768px) {
    .section-wrap {
        padding:30px 0;
    }
}